// Variables and mixins
@import 'variables';
@import 'mixins';

// Custom bootstrap and utilities
@import 'custom-bootstrap';
@import 'utilities-api.scss';

// MDBootstrap
@import 'mdb-ui-kit/src/scss/mdb.free.scss';

body {
   background-color: $primary-main;
   font-family: $font, sans-serif;
}

// Typography
.title {
   @include title(3.5rem, $secondary-light);
}

.sub-title {
   @include sub-title(1.5rem, $secondary-light);
}

.text {
   @include text;
}

.card-title {
   @include sub-title;
}

.card-text {
   @include text;
}

// Intro
.intro {
   height: 40vh;
   background-image: url('../assets/img/cover.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center bottom;

   @include media-breakpoint-down(sm) {
      height: 50vh;
   }

   @media (orientation: landscape) {
      @include media-breakpoint-down(md) {
         height: 60vh;
      }
   }
}

// Component
.card-stadium {
   .card-header {
      position: relative;
   }

   .team-logo {
      width: 3rem;
      height: auto;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -80%);
      background-color: $primary-light;
      padding: 0.5rem;
      border-radius: 0.5rem;
   }

   .stadium-rank {
      color: $primary-dark;
   }
}

// Styles
.mask-intro {
   background-color: rgba($color: $primary-dark, $alpha: 0.5);
}

.mask-light {
   @include mask-light;
}

.hr-intro {
   @include hr-heading;
}
