// Variables and mixins
@import 'variables';
@import 'mixins';

// Custom bootstrap and utilities
@import 'custom-bootstrap';
@import 'utilities-api.scss';

// MDBootstrap
@import 'mdb-ui-kit/src/scss/mdb.free.scss';

body {
   background-color: $primary-main;
   font-family: $font;
}

:where(h1) {
  margin-block: 0.67em;
  font-size: 2em;
}

// Typography
section h1,
.title {
   @include title(3.5rem, $secondary-light);

   @include media-breakpoint-down(md) {
      font-size: 2.5rem;
   }
}

.sub-title {
   @include sub-title(1.5rem, $secondary-light);

   @include media-breakpoint-down(md) {
      font-size: 1.25rem;
   }
}

.card-title {
   @include sub-title;

   @include media-breakpoint-down(md) {
      font-size: 1.1rem;
   }
}

.text,
.card-text {
   @include text;

    @include media-breakpoint-down(md) {
      font-size: 0.9rem;
   }
}

.footer-text {
   font-weight: 500;
   font-size: 1rem;
}

// Intro
.intro {
   height: 40vh;
   background-image: url('../assets/img/cover.webp');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center bottom;

   @include media-breakpoint-down(sm) {
      height: 50vh;
   }

   @media (orientation: landscape) {
      @include media-breakpoint-down(md) {
         height: 60vh;
      }
   }
}

// Component
.card-stadium {
   .card-header {
      position: relative;
   }

   .badge-team {
      background-color: $primary-dark;
      color: $secondary-light;
      font-weight: 600;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
      border: 1px solid rgba($color: #fff, $alpha: 0.5);
      transform: translateY(-50%);
   }

   .stadium-rank {
      color: $primary-dark;
   }
}

// Styles
.mask-intro {
   background-color: rgba($color: $primary-dark, $alpha: 0.5);
}

.mask-light {
   @include mask-light;
}

.hr-intro {
   @include hr-heading;
}

// Footer
.footer {
   background-color: $primary-light;
   text-align: center;
   padding-block: 1rem;
}
