// TYpography
@mixin title($font-size: 3.5rem, $color:  $secondary-main) {
    font-family: $font;
    font-weight: 700;
    color: $color;
    font-size: $font-size;
}
@mixin sub-title($font-size: 1.5rem, $color: $secondary-main) {
    font-family: $font;
    font-weight: 600;
    color: $color;
    font-size: $font-size;
}
@mixin text($font-size: 1rem, $color: $secondary-main) {
    font-family: $font;
    font-weight: 400;
    color: $color;
    font-size: $font-size;
}

// Components
@mixin hr-heading($color: $secondary-light) {
    border: 0.2rem $color solid;
    width: 10vw;
    opacity: 0.7;
}

// Style
@mixin mask-dark($opacity: 0.15) {
    background-color: rgba($color: #000000, $alpha: $opacity);
}

@mixin mask-light($opacity: 0.15) {
    background-color: rgba($color: #ffffff, $alpha: $opacity);
}
