// Colors
$primary-main: #FBFBFB;
$primary-light: #E3F2FD;
$primary-dark: #2962FF;

$secondary-main: #332D2D;
$secondary-light: #FFFFFF;
$secondary-dark: #304FFE;

// Fonts
$font: "Roboto", "Helvetica Neue", Arial, sans-serif;
